.typingeffect {
    font-size: 50px; /* ปรับขนาดตัวหนังสือใหญ่ขึ้น */
    margin-top: 300px; /* ปรับระยะห่างจากข้างบน */
    text-align: center; /* จัดข้อความให้กึ่งกลาง */
    color: rgb(69, 61, 75);
  }

  .row {
    margin-top: 100px; /* ปรับระยะห่างจากข้างบนของแถว */
  }